venv/
env/
.venv/
.env/

*.env

__pycache__/
*.py[cod]
*.pyo
*.pyd

.vscode/
.idea/

*.sqlite3
*.db

*.log
*.err
*.out

docker-compose.override.yml

*.egg
*.egg-info/
dist/
build/

.DS_Store
Thumbs.db
